body {
  margin: 0;
  color: var(--main-text-color);
  font-family: 'DM Sans', sans-serif;
  background: var(--body-bcg);
}

html {
  scroll-behavior: smooth;
}

main {
  padding-top: 40px;
  padding-bottom: 80px;
  @include min_768 {
    padding-bottom: 100px;
  }
  @include min_1440 {
    padding-bottom: 72px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
