:root {
  --main-color: #111111;
  --secondary-color: #4F2EE8;
  --additional-text-color: #B4AFAF;
  --primary-bcg: #FFFFFF;
  --additional-btn-color: #EAC645;
  --scroll-color: #E0E0E0;

  --dark-main-color: #FFFFFF;
  --dark-secondary-color: #4F2EE8;
  --dark-additional-text-color: #B4AFAF;
  --dark-primary-bcg: #111111;
  --dark-additional-bcg: #202024;
  --dark-additional-btn-color: #EAC645;
  --dark-scroll-color: rgba(17, 17, 17, 0.6);
}