:root {
  --main-text-color: #111111;
  --main-color: #111111;
  --body-bcg: #ffffff
  --heder-bcg: #ffffff;
  --secondary-color: #4f2ee8;
  --additional-text-color: #b4afaf;
  --primary-bcg: #ffffff;
  --additional-btn-color: #eac645;
  --scroll-color: #e0e0e0;
  --categories-color: rgba(17, 17, 17, 0.6);

  --dark-main-color: #ffffff;
  --dark-secondary-color: #4f2ee8;
  --dark-additional-text-color: #b4afaf;
  --dark-primary-bcg: #111111;
  --dark-additional-bcg: #202024;
  --dark-additional-btn-color: #eac645;
  --dark-scroll-color: rgba(255, 255, 255, 0.6);
  --backdrop-bcg: rgba(17, 17, 17, 0.4);
}

/* define light theme */
html[data-theme='light'] {
  --body-bcg: #ffffff;
  --main-text-color: #111111;
  --categories-color: rgba(17, 17, 17, 0.6);
  --category-active: #4f2ee8;
  --main-color: #111111;
  --additional-text-color: #b4afaf;
  --heder-bcg: #ffffff;
  --modal-bcg: #f6f6f6;
  --amazon-filter: grayscale(100%);
  --arrow-color: rgba(255, 255, 255, 0.6);
}

/* define dark theme */
html[data-theme='dark'] {
  --body-bcg: #202024;
  --main-text-color: #ffffff;
  --categories-color: rgba(255, 255, 255, 0.6);
  --category-active: #eac645;

  --main-color: #ffffff;
  --additional-text-color: #b4afaf;
  --heder-bcg: #111111;
  --modal-bcg: #202024;
  --amazon-filter: grayscale(100%) invert(100%);
  --arrow-color: rgba(17, 17, 17, 0.6);
}
