@mixin min_375 {
    @media screen and (min-width: 375px) {
        @content;
    }
}

@mixin max_767 {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin min_768 {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin between_768_1439 {
    @media screen and (min-width: 768px) and (max-width: 1439px) {
        @content;
    }
}


@mixin max_1439 {
    @media screen and (max-width: 1439px) {
        @content;
    }
}

@mixin min_1440 {
    @media screen and (min-width: 1440px) {
        @content;
    }
}