.card {
    width: 100%;
    display: none;
    @include max_767 {
        &:nth-child(1) {
            display: block;
        }
    }
    @include between_768_1439 {
        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
            display: block;
        }
    }
    @include min_1440 {
        display: block;
    }
    &__thumb {
        width: 100%;
        position: relative;
    }
    &__img {
        border-radius: 8px;
        display: block;
        width: 100%;
        height: auto;
    }
    &__text {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-transform: uppercase;
        background-color: var(--additional-btn-color);
    }
}