body::-webkit-scrollbar{
  width: 12px;
}

body::-webkit-scrollbar-thumb{
  background-color: #502ee851;
  border-radius: 12px;;
}
.categories__list::-webkit-scrollbar{
  width: 5px;
}
.categories__list::-webkit-scrollbar-track{
  background-color: white;
}
.categories__list::-webkit-scrollbar-thumb{
  background-color: #E0E0E0;
  border-radius: 12px;;
}