.tui-pagination * {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tui-ico-ellipsis,
.tui-ico-first,
.tui-ico-last,
.tui-ico-next,
.tui-ico-prev {
  overflow: hidden;
}

.tui-pagination {
  height: 28px;
  margin: 14px auto 12px;
  line-height: normal;
  justify-content: center;
  text-align: center;
  font-size: 0;
}

 .tui-page-btn {
  display: inline-block;
  position: relative;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0 6px;
  
  &:not(:last-child){
    margin-right: 8px
  }
 
  @include min_768 {
      &:not(:last-child) {
          margin-right: 10px
        }
    }
  
  color: #333;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid #111;
  border-width: 1px 0;
  border-radius: 50%;
}
.tui-pagination .tui-last-child{
  margin-right: 0;
}
.tui-pagination .tui-prev{
  margin-right: 14px;
  @include min_768 {
    margin-right: 24px;
  }
}
.tui-pagination .tui-next{
  margin-left: 14px;
  @include min_768 {
      margin-left: 24px;
    }
}

.tui-pagination .tui-page-btn:hover {
  background-color: #EAC645;
}

.tui-pagination .tui-is-selected:hover {
  background-color: #111;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: #fff;
  background: #111;
  border-color: #111;
  cursor: default;
}


.tui-pagination .tui-first,
.tui-pagination .tui-prev,
.tui-pagination .tui-next,
.tui-pagination .tui-last,
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  overflow: hidden;
  line-height: 26px;
  white-space: nowrap;
  font-weight: normal;
  border: 1px solid #111;
}

.tui-pagination .tui-last,
.tui-pagination .tui-next{
  background-color: #EAC645;
  &:hover{
    background-color: #111;
  }
  
};
.tui-ico-first,
.tui-ico-prev {
  filter: brightness(0) invert(1);
}

a.tui-page-btn:hover .tui-ico-first,
a.tui-page-btn:hover .tui-ico-prev {
  filter: brightness(0%) invert(0);
}

.tui-ico-last,
.tui-ico-next{
  filter: brightness(0%) invert(0);
}
span .tui-next:hover .tui-ico-next,
span .tui-last:hover .tui-ico-last{
  filter: brightness(0%) invert(1);
}
a.tui-page-btn:hover .tui-ico-next,
a.tui-page-btn:hover .tui-ico-last{
  filter: brightness(0%) invert(1);
}

.tui-pagination .tui-first,
.tui-pagination .tui-prev{
  background-color: #111;
    
    }




.tui-pagination .tui-ico-first,
.tui-pagination .tui-ico-prev,
.tui-pagination .tui-ico-next,
.tui-pagination .tui-ico-last,
.tui-pagination .tui-ico-ellip {
  background: url('../images/sp_btn.png') no-repeat 0 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
}

.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  padding: 0;
  line-height: 1;
}



.tui-pagination .tui-ico-first {
  width: 11px;
  height: 10px;
  background-position: 0px 0px
}

.tui-pagination .tui-ico-prev {
  width: 6px;
  height: 10px;
  background-position: -26px 0px
}

.tui-pagination .tui-ico-next {
  width: 6px;
  height: 10px;
  background-position: -13px -24px
}

.tui-pagination .tui-ico-last {
  width: 11px;
  height: 10px;
  background-position: 0px -12px
}

.tui-pagination .tui-ico-ellip {
  width: 10px;
  height: 2px;
  margin-top: 16px;
  vertical-align: top;
  background-position: 0px -24px
}

.tui-pagination .tui-is-disabled:hover {
  background: #111;
 
  cursor: default
}

.tui-page-inputs {
  display: inline-block;
  vertical-align: top;
}

.tui-page-inputs .tui-page-input {
  display: inline-block;
  width: 10px;
  height: 12px;
  padding: 8px 0 6px;
  font-size: 12px;
  text-align: center;
  color: #333;
  border: 0;
  outline: none;
}


.tui-page-separator {
  display: inline-block;
  font-size: 12px;
  height: 12px;
  padding: 8px 0 6px;
  vertical-align: top
}


.tui-is-disabled.tui-next:hover,
.tui-is-disabled.tui-last:hover{
  background: #EAC645;

}

