.accept {
  min-width: 300px;
  min-height: 200px;
  background-color: var(--modal-bcg);
  border: 2px solid var(--main-text-color);
  border-radius: 18px;
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transition: all 0.6s ease 0s;
  &__backdrop {
    @extend %backdrop;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    background-color: var(--backdrop-bcg);
    backdrop-filter: blur(2px);
    &.open {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      .accept {
        transform: translate(-50%, -50%);
        opacity: 1;
        pointer-events: all;
      }
    }
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(18 / 16);
    letter-spacing: -0.04em;
    color: var(--main-text-color);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 24px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 295.5px;
      height: 1px;
      background-color: var(--additional-text-color);
      bottom: -7px;
      left: -20px;
    }
  }

  &__reauth {
    position: relative;
    margin-bottom: 20px;
  }

  &__input {
    @extend .login__input;
    width: 256px;
    &::placeholder {
      color: var(--dark-additional-text-color);
    }
    @include min_1440 {
      width: 350px;
    }
  }
  &__btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }
  &__btn {
    width: 120px;
    border-radius: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
