.categories {
  @extend %transition;
  @include min_768 {
    margin-bottom: 0;
  }
  @include min_1440 {
    margin-right: 0;
    margin-bottom: 86px;
  }
}

.categories__list {
  width: 100%;
  height: 228px;
  overflow-y: auto;
  transition: all 0.8s ease 0s;
  @include min_768 {
    height: 472px;
  }
  @include max_1439 {
    padding-right: 32px;
  }
}
.books__aside {
  display: flex;
  flex-direction: column;
  @include max_767 {
    gap: 40px;
  }
  @include between_768_1439 {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 40px;
    justify-content: space-between;
  }
}
.categories__item {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: calc(18 / 16);
  letter-spacing: -0.02em;
  color: var(--categories-color);
  @extend %transition;
  cursor: pointer;
  &:not(:last-child) {
    padding-bottom: 24px;
  }

  @include min_768 {
    font-size: 18px;
    line-height: calc(24 / 18);
    &:not(:last-child) {
      padding-bottom: 32px;
    }
  }
  &:hover,
  &:focus {
    color: var(--category-active);
  }
  &.active-category {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--category-active);
  }
}
