.books {
  min-width: 335px;
  width: 100%;
  &--flex {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include min_768 {
      gap: 100px;
    }
    @include min_1440 {
      flex-direction: row;
      gap: 40px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.1875;
    text-transform: capitalize;
    margin-bottom: 40px;
    letter-spacing: -0.04em;
    &-last {
      color: var(--secondary-color);
    }
    @include min_768 {
      font-size: 48px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include min_768 {
      flex-wrap: wrap;
      flex-direction: row;
      column-gap: 25px;
      row-gap: 40px;
    }
    @include min_1440 {
      column-gap: 24px;
    }
  }
}
