.header {
  position: relative;
  min-width: 375px;
  padding: 20px 0;
  z-index: 100;

  background-color: var(--heder-bcg);
  border: 1.5px solid var(--main-color);
  border-radius: 0px 0px 8px 8px;

  @include min_768 {
    padding: 12px 0;
  }
}

.header__box {
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: flex;
}

.header__logo {
  display: flex;
  gap: 8px;

  align-items: center;
  padding: 2px 0;

  color: var(--main-text-color);
  font-weight: 700;

  @include min_768 {
    margin-right: 40px;
  }
}

.header__buttons-nav {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-direction: column;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;

  letter-spacing: -0.04em;
  text-transform: uppercase;

  @include min_768 {
    gap: 16px;
    flex-direction: row;
  }

  header & {
    @include max_767 {
      display: none;
    }
  }

  .buttons-nav__shop-list {
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 500;
    fill: var(--main-color);
  }
}

.buttons-nav__item {
  display: block;
  padding: 8px 16px;
  border-radius: 36px;
  @extend %transition;

  &:hover,
  &:focus {
    background-color: var(--additional-btn-color);
  }
}

.header__buttons-auth {
  display: flex;
  align-items: center;
  gap: 14px;

  .buttons-auth__item {
    display: flex;
    align-items: center;

    .user {
      display: flex;
      align-items: center;
      padding: 4px 12px;

      color: var(--primary-bcg);
      font-weight: 700;
      font-size: 22px;
      line-height: 1.3;
      letter-spacing: -0.02em;

      border: 0;
      background-color: var(--secondary-color);
      border-radius: 36px;

      header & {
        @include max_767 {
          display: none;
        }
      }

      .user__arrow {
        margin-left: 4px;
        fill: var(--primary-bcg);
      }
    }
  }

  .buttons-auth__sign {
    @include max_767 {
      display: none;
    }
  }
}

.user__img {
  width: 37px;
  height: 37px;
  margin-right: 9px;
  padding: 9px;
  border-radius: 36px;
  background-color: #f6f6f6;
  fill: var(--secondary-color);
}

// Switcher
.buttons__switcher {
  height: 0;
  width: 0;
  visibility: hidden;
}

.buttons__switcher-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 24px;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);

  display: block;
  border-radius: 100px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 19px;
    height: 19px;
    background: radial-gradient(
        circle at center,

        #ffffff 15%,
        #ffffff 40%,
        #f0efef 40%,
        #f0efef 55%,
        #ffffff 55%
      ),
      linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
    border-radius: 90px;
    transition: 250ms ease-in;
  }
}

.buttons__switcher:checked + .buttons__switcher-label {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
}

.buttons__switcher:checked + .buttons__switcher-label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.buttons__switcher-label:active:after {
  width: 25px;
}

//

.buttons-auth__sign-block {
  display: flex;
  align-items: center;
  gap: 14px;
}

.buttons-auth__sign {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13.5px 12.5px;
  width: 184px;
  height: 48px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;

  letter-spacing: -0.04em;
  color: var(--primary-bcg);
  background-color: #4f2ee8;
  border: 1.5px solid #111111;
  border-radius: 18px;

  stroke: var(--additional-btn-color);

  header & {
    width: 104px;
  }
}

.buttons-auth__menu {
  border: 0;
  background-color: inherit;

  @include min_768 {
    display: none;
  }

  .menu__img {
    stroke: var(--main-color);
  }
}
