.mobile-menu {
  position: fixed;
  transform: translateY(-100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 104px;
  z-index: 99;
  background-image: url(../images/mobile-menu-bg.png),
    radial-gradient(
      183.6% 183.01% at 59.76% -23.42%,
      #4f2ee8 18.03%,
      #ffffff 100%
    );
  background-repeat: no-repeat;
  background-position: center bottom;

  transition: transform 0.4s ease-out;
  .mobile-menu__box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header__buttons-nav {
      align-items: flex-start;
    }

    .mobile-menu__buttons-features {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;

      & button {
        width: auto;
        gap: 4px;
        margin-bottom: 0;
      }
    }
  }

  .mobile-menu__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
  }

  .mobile-menu__user {
    display: flex;
    align-items: center;
    gap: 9px;

    font-weight: 700;
    font-size: 22px;
    line-height: 1.3;
    letter-spacing: -0.02em;

    color: var(--dark-main-color);
  }

  .buttons-nav__item {
    color: var(--primary-bcg);
    fill: var(--primary-bcg);

    @extend %transition;

    &:hover,
    &:focus, &.active-page {
      background-color: var(--additional-btn-color);
      color: var(--main-color);
      fill: var(--main-color);
    }
  }

  .buttons-auth__sign {
    width: 118px;
    margin-bottom: 20px;
    background-color: var(--primary-bcg);
    color: var(--primary-text-color);
  }
}

.showMenu {
  transform: translateY(0);
}

.showButton {
  @include max_767 {
    // display: block;
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }
}

.hideButton {
  @include max_767 {
    // display: none;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }
}

body.lock {
  overflow: hidden;
}
