.mobile-menu {
  position: fixed;
  transform: translateY(-100%);
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 66px;
  z-index: 99;
  background-image: url(../images/mobile-menu-bg.png),
    radial-gradient(
      183.6% 183.01% at 59.76% -23.42%,
      #4f2ee8 18.03%,
      #ffffff 100%
    );
  background-repeat: no-repeat;
  background-position: center bottom;
  //   background-size: auto auto;

  transition: transform 0.2s;
}

.showMenu {
  transform: translateY(0);
}

.showButton {
  @include max_767 {
    display: block;
  }
}

.hideButton {
  @include max_767 {
    display: none;
  }
}
