.backdrop {
  @extend %backdrop;
  background-color: var(--backdrop-bcg);
  animation-name: scale-in-center;
  animation-duration: 2000ms;
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  transition: all 0.8s ease 0s;
  &.is-hidden {
    transition: all 0.8s ease 0s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal-book {
  &__content {
    transition: all 0.8s ease 0s;
  }
  border: 2px solid var(--main-text-color);
  border-radius: 18px;
  position: absolute;
  top: 10px;
  left: 50%;
  padding: 40px 24px;
  background-color: var(--modal-bcg);
  min-width: 335px;
  transition: all 0.6s ease 0s;
  .backdrop.is-hidden & {
    transform: translateX(-50%) scale(0);
    @include min_768 {
      transform: translate(-50%, -50%) scale(0);
    }
  }
  .backdrop & {
    transform: translateX(-50%) scale(1);
    @include min_768 {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  @include min_768 {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 579px;
    padding: 40px;
  }
  &--flex {
    @include min_768 {
      display: flex;
      flex-direction: row;
      gap: 24px;
    }
  }
  &__close {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &-icon {
      @extend %transition;
      stroke: var(--main-text-color);
    }
    &:hover,
    &:focus,
    &:active {
      .modal-book__close-icon {
        stroke: var(--secondary-color);
      }
    }
    @include min_768 {
      top: 24px;
      right: 24px;
      &-icon {
        width: 28px;
        height: 28px;
      }
    }
  }
  &__thumb {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    flex-shrink: 0;
    @include min_768 {
        width: 192px;
    }
  }
  &__img {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  &__text {
    @include max_767 {
      margin-top: 14px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(18 / 16);
    letter-spacing: -0.04em;
    color: var(--main-text-color);
    text-transform: uppercase;
    @include min_768 {
      font-size: 24px;
      line-height: calc(28 / 24);
      margin-bottom: 8px;
    }
  }
  &__author {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: -0.04em;
    color: var(--additional-text-color);
    text-transform: capitalize;
    font-style: italic;
    @include min_768 {
      font-size: 14px;
      line-height: calc(18 / 14);
    }
  }
  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
    width: 100%;
    margin-top: 18px;
    letter-spacing: -0.04em;
    @include min_768 {
        margin-top: 20px;

    }
  }
  &__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 14px;
    @include min_768 {
        margin-top: 20px;
    }
  }
  &__btns {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    @extend %transition;
  }
  &__btn {
    padding: 14px 23px;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.01em;
    @include min_768 {
        width: 100%;
        font-size: 18px;
        padding: 20px 0;
    }
  }
  &__notification {
    font-weight: 400;
    font-size: 10px;
    line-height: calc(12 / 10);
    text-align: center;
    color: var(--categories-color);
    letter-spacing: -0.04em;
    max-width: 242px;
    transition: all 0.6s ease 0s;
    @include min_768 {
        max-width: 324px;
        font-size: 12px;
    }
  }
}

.amazon {
  filter: var(--amazon-filter);
  width: 62px;
  height: 20px;
}

.book-first,
.book-second {
  filter: grayscale(100%);
}

.book-first {
  width: 33px;
  height: 33px;
}

.book-second {
  width: 38px;
  height: 36px;
}