.flex-handler {
  display: flex;
  flex-direction: row;
}
.shopping-aside {
  display: none;
  @include min_1440 {
    display: block;
    margin-right: 40px;
  }
}
.title-wraper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.shop-list__title{
  font-weight: 700;
    font-size: 32px;
    line-height: 1.1875;
    text-transform: capitalize;

    letter-spacing: -0.04em;
  
    &-last {
      color: var(--secondary-color);
    }
  
    @include min_768 {
      font-size: 48px;
    }
}
.deleteAllBtn{
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--secondary-color);
  color: var(--main-color);
  cursor: pointer;
  background-color: #0000;
  border-radius: 40px;
  font-family: DM Sans;
  width: auto;
  height: auto;
  padding: 5px 14px;
  transition: all .25s cubic-bezier(.4, 0, .2, 1);
  &:hover{
    background-color: var(--secondary-color);
    color: var(--primary-bcg)
  }
  @include min_768 {
      font-size: 14px;
      padding: 10px 28px;
      font-weight: 700;
    }
}

.shopping-list_book {
  display: flex;
  padding: 14px;
  background: var(--heder-bcg);
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  position: relative;
  margin-bottom: 20px;
  min-width: 100%;
  @include min_768 {
    padding: 24px;
    &:last-child {
      margin-bottom: 40px;
    }
  }
}
.error-handler {
  flex-grow: 1;
}
.delete-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @extend %transition;
  &:hover, &:focus, &:active {
    background-color: var(--additional-btn-color);
  }
  @include min_768 {
    width: 34px;
    height: 34px;
  }
}
.shopping-trash__svg {
  width: 16px;
  height: 16px;
  @include min_768 {
    width: 18px;
    height: 18px;
  }
}

.book_img {
  margin-right: 14px;
  height: 142px;
  object-fit: fill;
  border-radius: 8px;
  @include min_768 {
    height: 165px;
    margin-right: 24px;
  }
}

.book-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.book_title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  @include max_767 {
    width: 144px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.book_category {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--additional-text-color);
  @include max_767 {
    width: 144px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @include min_768 {
    margin-bottom: 14px;
  }
}

.book_descriprion {
  overflow: hidden;
  text-overflow: clip;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  color: var(--main-color);
}

.book_links-and-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: bottom;
  @include min_768 {
    align-items: baseline;
  }
}

.book_author {
  white-space: nowrap;
  font-style: italic;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.04em;
  color: var(--additional-text-color);
  @include max_767 {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.book_shopping-links {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 8px;
  @include min_768 {
    align-items: center;
    gap: 16px;
  }
}

.book1_img {
  width: 16px;
  height: 16px;
  filter: grayscale(100%);
  @include min_768 {
    width: 28px;
    height: 27px;
  }
}

.book2_img {
  width: 16px;
  height: 16px;
  filter: grayscale(100%);
  @include min_768 {
    width: 32px;
    height: 30px;
  }
}

.amazon-img {
  width: 32px;
  height: 11px;
  filter: var(--amazon-filter);
  @include min_768 {
    width: 48px;
    height: 15px;
  }
}
