.support {
    width: 335px;
    height: 352px;
    padding-top: 24px;
    padding-left: 40px;
    background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
    box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
    border-radius: 16px;
    overflow: hidden;
    position: sticky;
    top: 50px;
    @include min_768 {
        width: 335px;
        height: 472px;
    }
    @include min_1440 {
        width: 356px;
        height: 490px;
    }       
    &__title {
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 28px;
        line-height: 1.14;
        letter-spacing: -0.04em;
        color: var(--primary-bcg);
        display: flex;
        margin-bottom: 40px;
    }
    &__coat {
        margin-left: 12px;
        fill: var(--primary-bcg);
    }

}

.support__handler {
    overflow: hidden;
    width: 159px;
    height: 188px;
    @include min_768 {
            height: 292px;
        }
}


.support__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.support-item {
    color: var(--primary-bcg);
}

.support-link {
    display: flex;
    align-items: center;
}

.support-logo{
    display: inline-flex;
    filter: invert(100%) sepia(100%) saturate(0%) brightness(7.5);
    margin-left: 16px;
};

.buttons-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background-color: var(--primary-bcg);
    margin-top: 16px;
    margin-left: 105px;
    cursor: pointer;
    @include min_768 {
        margin-top: 32px;
    }
    @include min_1440 {
        margin-top: 40px;
    }
    &__svg {
        fill: var(--secondary-color);
    }
}