.support {
  width: 335px;
  height: 352px;
  padding-top: 24px;
  padding-left: 40px;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;
  position: sticky;
  top: 50px;
  @include min_768 {
    width: 335px;
    height: 472px;
  }
  @include min_1440 {
    width: 356px;
    height: 490px;
  }
  &__title {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.04em;
    color: var(--primary-bcg);
    display: flex;
    margin-bottom: 30px;
  }
  &__coat {
    margin-left: 12px;
    fill: var(--primary-bcg);
  }
}

.support__handler {
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  @include min_768 {
    height: 292px;
  }
}

.support__list {
  display: flex;
  flex-direction: column;
  width: 159px;
  height: 188px;
}

.support-item {
  color: var(--primary-bcg);
  width: 123px;
  transition: all 0.8s ease 0s;
}

.support-link {
  display: flex;
  align-items: center;
  height: 32px;
  transition: all 0.8s ease 0s;
  &:hover,
  &:focus,
  &:active {
    .support-logo {
      filter: none;
    }
  }
}

.support-logo {
  display: inline-flex;
  filter: invert(100%) sepia(100%) saturate(0%) brightness(7.5);
  margin-left: 16px;
  @extend %transition;
  @include min_768 {
    margin-left: 14px;
  }
}

.buttons-slider {
  display: flex;
  position: absolute;
  z-index: 99;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: none;
  background-color: var(--primary-bcg);
  @extend %transition;
  cursor: pointer;
  @include min_768 {
    bottom: 14px;
  }
  @include min_1440 {
    bottom: 24px;
  }
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
    .buttons-slider__svg {
      fill: var(--additional-btn-color);
    }
  }
  &__svg {
    fill: var(--secondary-color);
    @extend %transition;
  }
}
